.project-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-form .form-group {
    margin: 0.5rem 0;
}

.project-form input, .search-form input {
    width: 100%;
    color: #F5F5F5;
}

.project-form button, .nav-bar-col button, .appointments-list button {
    color: #F5F5F5;
    border-color: #F5F5F5;
}

.nav-bar-col button:hover, .project-form .submit:hover, .appointments-list button:hover {
    color: #181818;
    background-color: #F5F5F5;
}

.project-form .submit {
    width: 100%;
}

input {
    color-scheme: dark;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.search-form .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    margin: 2rem;
}

.name-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.name-form .prefix-container {
    width: 20%;
    margin-right: 1rem;
}