.login-page {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.login-page .login-header {
    width: 100%;
    text-align: center;
    margin: 2rem;
}

.login-container, .register-container {
    width: 40%;
    margin: 2rem;
}

.project-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-form .form-group {
    margin: 0.5rem 0;
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 80%;
    color: #F5F5F5 !important;
}

.project-form input, .search-form input {
    width: 80%;
    color: #F5F5F5;
}

.project-form button, .nav-bar-col button, .appointments-list button {
    color: #F5F5F5;
    border-color: #F5F5F5;
}

.nav-bar-col button:hover, .project-form .submit:hover, .appointments-list button:hover {
    color: #181818;
    background-color: #F5F5F5;
}

.project-form .submit {
    width: 80%;
}


.hidden-div {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.image-title {
    font-size: 5rem;
    font-weight: 700;
    color: #F5F5F5;
}

.image-icons {
    width: 35%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.image-icons svg {
    font-size: 2.5rem;
}

.image-icons .person-icon {
    color: #61dafb;
}

.image-icons .hospital-icon {
    color: red;
}

.image-icons .admin-icon {
    color: chartreuse;
}

@media (max-width: 768px) {
    .main-banner-desktop {
        display: none;
    }

    .main-banner-mobile {
        display: block;
        filter: brightness(30%);
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .main-banner-desktop {
        display: block;
        filter: brightness(30%);
        overflow: hidden;
    }

    .main-banner-mobile {
        display: none;
    }
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.card-component {
    width: 28rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.page-header {
    text-align: center;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.male {
    color: #61dafb;
}

.female {
    color: #ff69b4;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-group .edit-icon {
    color: #61dafb;
}

.button-group .delete-icon {
    color: red;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.search-form .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    margin: 2rem;
}

footer {
    text-align: center;
    background-color: #181818;
    color: #F5F5F5;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .footer-text {
    display: flex;
    justify-content: space-between;
}

footer .footer-text a {
    text-decoration: none;
    color: #61dafb;
    font-style: italic;
}

.appointments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.appointments-list .available-capacity {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.appointments-list .available-capacity .count {
    font-size: 5rem;
    color: #61dafb;
}

.appointments-list .available-card {
    display: flex;
    flex-direction: column;
}

.dark-modal .modal-content {
    background-color: #181818;
    color: #F5F5F5;
}

.dark-modal .modal-header,
.dark-modal .modal-footer {
    border-color: #181818;
}

.dark-modal .modal-header button.close {
    color: #F5F5F5;
}

.dark-modal .modal-footer button.btn-primary {
    background-color: #61dafb;
    border-color: #61dafb;
}

.dark-modal .modal-footer button.btn-primary:hover {
    background-color: #61dafb;
    border-color: #61dafb;
}

.admin-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-count-card {
    width: 30rem;
    text-align: center;
}

.user-count-card .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MuiChartsLegend-series text {
    fill: #F5F5F5 !important;
}

.department-count-card {
    width: 25rem;
}

.department-count-card .department-header {
    text-align: center;
}

.department-count-card .department-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.department-count-card p {
    text-align: center;
}

.department-count-card p .department-length {
    font-size: 10rem;
    color: #61dafb;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root,
.css-1ex1afd-MuiTableCell-root{
    background-color: #181818 !important;
    color: #F5F5F5 !important;
    text-align: center !important;
}

.css-1ygcj2i-MuiTableCell-root {
    color: #61dafb !important;
    text-align: center !important;
    font-size: 1.2rem !important;
}

.appointment-table .status-cell {
    display: flex;
}

.appointment-list-card {
    width: 100%;
    text-align: center;
}

.appointments{
    text-align: center;
}

.appointment-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

.appointment-card{
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.patient-dashboard h1{
    text-align: center;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.page-header .group-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .group-buttons button{
    margin: 0 1rem;
}

.profile-details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;

}
.profile-details .profile-picture{
    width: 20%;
    margin-right: 1rem;
}
label{
    color: #61dafb !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    color: #61dafb !important;
}

.name-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.name-form .prefix-container{
    width: 20%;
    margin-right: 1rem;
}