.login-page {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.login-page .login-header{
    width: 100%;
    text-align: center;
    margin: 2rem;
}

.login-container, .register-container {
    width: 40%;
    margin: 2rem;
}

.project-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-form .form-group{
    margin: 0.5rem 0;
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    width: 100%;
}
.project-form input {
    width: 100%;
    color: #F5F5F5;
}

.project-form button {
    color: #F5F5F5;
    border-color: #F5F5F5;
}
.project-form .submit{
    width: 100%;
}
.project-form .submit:hover {
    color: #181818;
    background-color: #F5F5F5;
}

.hidden-div {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.image-title{
    font-size: 5rem;
    font-weight: 700;
    color: #F5F5F5;
}

.image-icons{
    width: 35%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.image-icons svg{
    font-size: 2.5rem;
}

.image-icons .person-icon svg{
    color: #61dafb;
}

.image-icons .hospital-icon svg{
    color: red;
}

.image-icons .admin-icon svg{
    color: chartreuse;
}

@media (max-width: 768px) {
    .main-banner-desktop{
        display: none;
    }
    .main-banner-mobile{
        display: block;
        filter: brightness(30%);
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .main-banner-desktop{
        display: block;
        filter: brightness(30%);
        overflow: hidden;
    }
    .main-banner-mobile{
        display: none;
    }
}

.image-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}